/* /community/review.jsp 시작 */

/* 커뮤니티 - 이용후기 영역 시작 */

    .review_wrap {
      width: 1130px;
      margin: 100px auto;
    }
    .review_wrap h4 {
      text-align: center; color: #5467F5; 
    }
    /* 검색창 */
    .ml_search_wrap {
	  display: flex; 
	  width: 790px; 
	  height: 100px; 
	  margin: 50px auto; 
      padding: 28px;
      padding-left: 50px; 
      position: relative;
      border: 1px solid #aaa;
    }
    .ml_search_wrap div:nth-child(1) {
      padding: 5px; 
      width: 103px;
      height: 29px;  
    }
    .ml_search_wrap div:nth-child(2) {
	  padding: 5px;
	  width: 454px; 
	  height: 29px;
      position: absolute;
      top: 23px; 
      left: 171px;
    }
    .ml_search_wrap div:nth-child(3) {
      padding: 5px; 
      position: absolute; 
      top: 23px; 
      left: 615px;
    }
    .memList_select {
      height: 29px; 
      border: 1px solid #5467F5; 
      color: #5a5a5a;
      width: 103px; 
      outline: none; 
      padding-left: 5px; 
    }
    .ml_search_text {
      height: 39px; 
      width: 454px; 
      border: 2px solid #5467F5;
      outline: none; 
      padding-left: 10px; 
    }
    .ml_search_btn {
      width: 80px; 
      height: 39px; 
      background-color: #5467F5;
      margin-left: 30px; 
      outline: none; 
      border: 1px solid #5467F5;
      color: #fff; 
    }
    /* 표 */
    .review_table {    
      width: 850px; 
      margin: 0 auto;
      margin-bottom: 41px;
    }
    .review_table_wrap {
      width: 850px;  
      border-top: 3px solid rgba(116, 116, 116, 0.5);
    }
    .review_table_wrap th {
      height: 50px;
      padding: 7px;
      text-align: center;
      color: #58595B;
      background-color: #fafafa;
      border-bottom: 1px solid rgba(116, 116, 116, 0.5);   
    }
    .review_table_wrap td {   
      height: 50px;
      padding: 7px;
      text-align: center;
      color: #58595B;
      border-bottom: 1px solid rgba(116, 116, 116, 0.5);   
    } 
    .review_table_wrap span {   
      color: #5467F5;
    }
    .reTitle {
    	width: 50%;
    }
    /* 버튼 */
    .reListBtn {
      position:relative;
	  background-color: #5467F5; 
	  color: #fff; 
	  border: none;
	  width: 80px; 
	  height:30px;
	  left: 910px;
	  top: -52px;
    }
    
/* /community/review.jsp 끝 */  
    
/* 커뮤니티 - 이용후기 영역 끝 */

/* /community/review_write.jsp + /community/review_modify.jsp 시작 */

/* 커뮤니티 - 이용후기 글쓰기+수정하기 영역 시작 */

    .review_write_wrap {
      width: 1130px;
      margin: 130px auto;
    }
    .review_write_title {
      width: 800px;
      margin: 0 auto;
      padding-bottom: 10px;
    }
    .review_write_title h4 {
      color: #58595B;   
    } 
    /* 글쓰기 */
    .review_write_content {    
      width: 800px; 
      margin: 0 auto;
    }
    .review_write_table {
      width: 800px; 
	  border-top: 3px solid rgba(116, 116, 116, 0.5); 
	}
	.review_write_table th {
	  width: 25%;   
	  height: 50px;
	  text-align: center;
	  color: #58595B;
	  background-color: #fafafa;
      border-bottom: 1px solid rgba(116, 116, 116, 0.5); 
	}
	.review_write_td {
	  padding-left: 15px;    
      border-left: 1px solid rgba(116, 116, 116, 0.5);
	}
	.retitle {
	  width: 605px;
      height: 28px;
      font-size: 15px;
      padding-left: 10px;
      color: #58595B;
      outline: none;
	}
	/* 버튼 */
	.nbuttons {
	  margin: 10px auto;
	}
    .nwritesub {
      width: 100px;
      height: 28px;
      margin-left: 345px;
      font-size: 16px;
      color: white;
      background-color: #5467F5;
      border: 1px solid #5467F5;
      outline: none;
    }
    .nwritebutton {
      width: 60px;
      height: 28px;
      margin-left: 290px;
      font-size: 16px;
      color: #5467F5;
      background-color: white;
      border: 1px solid #5467F5;
      outline: none;
    }

/* /community/review_write.jsp + /community/review_modify.jsp 끝 */  
    
/* 커뮤니티 - 이용후기 글쓰기+수정하기 영역 끝 */

/* /community/review_view.jsp 시작 */

/* 커뮤니티 - 이용후기 상세보기 영역 시작 */

   .review_view_wrap {
      width: 1130px;
      margin: 130px auto;
    }
    /* 글쓰기 */
    .review_view_content {    
      width: 800px; 
      margin: 0 auto;
    }
    .review_view_table {
      width: 800px; 
	  border-top: 3px solid rgba(116, 116, 116, 0.5); 
	}
	.review_view_th01 {	   
	  width: 15%; 
	  height: 50px;
	  text-align: center;
	  color: #58595B;
	  background-color: #fafafa;
      border-bottom: 1px solid rgba(116, 116, 116, 0.5); 
	}
	.review_view_td01 {
	  width: 50%; 
	  padding-left: 15px;    
      border-left: 1px solid rgba(116, 116, 116, 0.5);
      border-bottom: 1px solid rgba(116, 116, 116, 0.5); 
	}
	.review_view_th02 {
	  width: 15%; 
	  height: 50px;
	  text-align: center;
	  color: #58595B;
	  background-color: #fafafa;
	  border-left: 1px solid rgba(116, 116, 116, 0.5);
      border-bottom: 1px solid rgba(116, 116, 116, 0.5); 
	}
	.review_view_td02 {
	  width: 18%;
	  padding-left: 15px;    
      border-left: 1px solid rgba(116, 116, 116, 0.5);
      border-bottom: 1px solid rgba(116, 116, 116, 0.5); 
	}
	.review_view_td03 {
      width: 27%;
	  padding-left: 15px;    
      border-left: 1px solid rgba(116, 116, 116, 0.5);
      border-bottom: 1px solid rgba(116, 116, 116, 0.5); 
	}
	.review_view_th03 {
      width: 14%;
	  height: 50px;
	  text-align: center;
	  color: #58595B;
	  background-color: #fafafa;
	  border-left: 1px solid rgba(116, 116, 116, 0.5); 
      border-bottom: 1px solid rgba(116, 116, 116, 0.5); 
	}
	.review_view_td04 {
	  width: 11%;
	  padding-left: 15px;    
      border-left: 1px solid rgba(116, 116, 116, 0.5);
	}
	.review_view_tdN {
	  border-bottom: 1px solid rgba(116, 116, 116, 0.5); 
	}
	.review_view_bottom {
      border-bottom: 3px solid rgba(116, 116, 116, 0.5); 
	}
	.reContent {
      width: 800px; white-space:pre; 
      /* height: 100px; */
      margin-top: 18px;
      margin-bottom: 14px;
      padding: 0px 17px;
      color: #58595B;
      border: none;
      outline: none;
    }
    .reContent span {
    	line-height: 0px;
    	word-break: break-all; word-wrap: break-word;
    }
	/* 수정/삭제 버튼 */
	.reContent_buttons {
	  margin: 10px auto;
	}	
    .reM {
      width: 80px;
      height: 28px;
      margin-left: 310px;
      font-size: 16px;
      color: white;
      background-color: #5467F5;
      border: 1px solid #5467F5;
      outline: none;
    }  
    .reD {
      width: 80px;
      height: 28px;
      margin-left: 10px;
      font-size: 16px;
      color: #5467F5;
      background-color: white;
      border: 1px solid #5467F5;
      outline: none;
    }
    /* 댓글목록 */
	.relist {
	  width: 800px;
      border-bottom: 2px solid rgba(116, 116, 116, 0.5); 
      margin-top: 20px;
      margin-bottom: 20px;
	}
	.relist th {
	  padding: 5px;
	  color: #58595B;
	  font-weight: bold;
	}
	.review_list {
	  width: 750px;
	  margin: 10px auto;
	}
	.re_span01 {
	  font-size: 11px;
      color: #5467F5;
	}
	.re_span02 {
	  font-size: 13px;
	  color: rgba(116, 116, 116, 0.5); 
	}
	.review_list_name {
	  font-weight: bold;
	  color: #58595B;
	}
	.reReContent {
	  width: 600px;
	  height: 60px;
	  padding-left: 16px;
      color: #58595B;
      border: none; 
      outline: none;
	}
	.rehr {
	  border-bottom: 1px solid rgba(116, 116, 116, 0.5); 
	  margin-bottom: 10px;
	}
    /* 등록/취소 버튼 */
	.recdbuttonsA {
	  width: 150px;
	  position:relative;
	  display: flex;
	  left: 610px;
	  bottom: -45px;  
	}	
	.recdbuttonsB {
	  width: 150px;
	  position:relative;
	  display: flex;
	  left: 610px;
	  bottom: 77px;  
	}	
    .rewritesub01 {
      width: 68px;
      height: 26px;
      border-radius: 10px;
      font-size: 15px;
      color: white;
      background-color: #5467F5;
      border: 1px solid #5467F5;
      outline: none;
    }  
    .rewritesub02 {
      width: 68px;
      height: 26px;
      border-radius: 10px;
      margin-left: 8px;
      font-size: 15px;
      color: #5467F5;
      background-color: white;
      border: 1px solid #5467F5;
      outline: none;
    }
    /* 댓글쓰기 */  
    .reply_write {
      width: 750px;
	  margin: 10px auto;
	  padding: 20px;
	  border: 1px solid rgba(116, 116, 116, 0.5); 
    }
    .rewrite {
      width: 710px;
      height: 110px;
      padding: 10px;
      border: none;
      outline: none;    
    }
    .rewritesub03 {
      width: 75px;
      height: 26px;
      font-size: 15px;
      color: #5467F5;
      border-radius: 10px;
      margin-left: 620px;
      background-color: white;
      border: 1px solid #5467F5;
      outline: none;
    }  
    .rewritesub04 {
      width: 80px;
      height: 28px;
      font-size: 16px;
      color: white;
      margin-left: 360px;
      margin-top: 20px;
      background-color: #5467F5;
      border: 1px solid #5467F5;
      outline: none;
    }

/* /project_ezen/community/review_view.jsp 끝 */  
    
/* 커뮤니티 - 이용후기 상세보기 영역 끝 */

/* /service/inquiry.jsp 시작 */

/* 고객센터 - 1:1문의 영역 시작 */

    .inquiry_wrap {
      width: 1130px;
      margin: 100px auto;
    }
    .service_small {
      color: #5467F5;
    }
    .inquiry_header {
      display: flex;
      justify-content: center;
    }
	.inquiry_header img {
	  width: 250px;		
	}
	.inquiry_header_text {
	  width: 465px;
	  height: 203px;
	  margin: 19px 0 0 0;
	  border-top: 1px solid rgba(158, 155, 155, 0.5);
	  border-right: 1px solid rgba(158, 155, 155, 0.5);
	  border-bottom: 1px solid rgba(158, 155, 155, 0.5);
	}
	.inquiry_header_text h4 {
	  margin: 25px 0 10px 20px;
	  color: #5467F5;
	}
	.inquiry_header_text p {
	  margin: 20px 0 10px 20px;
	}
	.inquiry_header_p {
	  font-weight: bold;
	}
	.inquiry_content {
	  width: 750px;
	  margin: 50px auto 10px auto;                        
	}
	.inquiry_title {
	  color: #58595B;
	  margin-bottom: 15px;
	}
	.inquiry_table {
	  border-top: 2px solid rgba(116, 116, 116, 0.5);
      border-bottom: 2px solid rgba(116, 116, 116, 0.5);
	}
	.inquiry_th {
	  width: 25%;   
	  text-align: center;
	  color: #58595B;
      border-bottom: 1px solid rgba(116, 116, 116, 0.5); 
	}
	.inquiry_td {
	  padding: 11px 0 11px 18px;    
      border-bottom: 1px solid rgba(116, 116, 116, 0.5);
      border-left: 1px solid rgba(116, 116, 116, 0.5);
	}
	.inquiry_select {
	  width: 130px;
      height: 28px;
      margin-bottom: 7px;
      font-size: 14px;
      padding-left: 2%;
      color: #58595B;
      outline: none;
	}
	.inquiry_name {
	  width: 450px;
      height: 28px;
      font-size: 14px;
      padding-left: 2%;
      color: #58595B;
      outline: none;
	}
	.inquiry_text {
	  width: 550px;
      height: 330px;
      font-size: 14px;
      padding: 2%;
      color: #58595B;
      outline: none;
	}
	.inquiry_bottom {
	  width: 750px;
	  margin: 0 auto;
	  display: flex;
      justify-content : space-between;
	}
	.inquiry_bottom p {
	  margin-left: 10px;
	  font-size: 13px;
      color: #58595B;
	}
	.inquiry_bottom small {
      color: #58595B;
	}
	/* 버튼 */
	.inquiry_btn {
	  margin-right: 10px;
	  margin-bottom: 100px;
	  width: 90px;
      height: 30px;
      font-size: 16px;
      color: #5467F5;
      background-color: white;
      border: 1px solid #5467F5;
      outline: none;
	}
    .inquiry_btn:hover, .inquiry_btn:active {
      color: white;
      background-color: #5467F5;
    }
	
	
/* 고객센터 - 1:1문의 영역 끝 */

/* /service/faq.jsp 끝 */

/* /service/faq.jsp 시작 */

/* 고객센터 - 자주묻는질문 영역 시작 */

    .faq_wrap {
      width: 1130px;
      margin: 100px auto 200px auto;
    }
    .faq_content {
      width: 750px;
      margin: 0 auto;
    }
    .faq_title {
      color: #58595B;
      margin-top: 15px;
	  margin-bottom: 15px;
    }
    .faq_table {
      width: 750px;
      border-top: 3px solid rgba(116, 116, 116, 0.5);
    }
    .faq_table th {
      width: 25%;   
      height: 40px;
      text-align: center;
      color: #58595B;
      background-color: #fafafa;
      border-bottom: 1px solid rgba(116, 116, 116, 0.5);   
    }
    .faq_table td {   
      padding-left: 18px;
      color: #58595B;
      border-bottom: 1px solid rgba(116, 116, 116, 0.5);
      border-left: 1px solid rgba(116, 116, 116, 0.5);
    } 

/* 고객센터 - 자주묻는질문 영역 끝 */

/* /service/faq.jsp 끝 */

/* /service/faq_view.jsp 시작 */

/* 고객센터 - 자주묻는질문_상세보기 영역 시작 */

    .faq_view_wrap {
      width: 1130px;
      margin: 140px auto 160px auto;   
    }
    .faq_view_title {
      margin-left: 190px;
      color: #58595B;
	  margin-bottom: 15px; 
    }
    .faq_view_table {
      width: 750px;
      height: 300px;
      margin: 0 auto;
      border-top: 3px solid rgba(158, 155, 155, 0.5);
      border-bottom: 3px solid rgba(158, 155, 155, 0.5);
    }
    .faq_view_table_top {
      display: flex;
    }
    .faq_view_table_left {
      width: 25%;
      height: 40px;
      padding-top: 7px;
      font-weight: bold;
      text-align: center;
      color: #58595B;
      background-color: #fafafa;
      border-right: 1px solid rgba(116, 116, 116, 0.5); 
      border-bottom: 1px solid rgba(116, 116, 116, 0.5);  
    }
    .faq_view_table_right {
      width: 75%;
      height: 40px;
      padding: 7px 0 0 18px;
      border-bottom: 1px solid rgba(116, 116, 116, 0.5); 
    }
    .faq_view_table_content {
      padding: 12px 20px;
    }
    /* 버튼 */
    .faq_view_btn {
      width: 100px;
      height: 30px;
      margin-top: 10px;
      margin-left: 46%;
      font-size: 16px;
      color: white;
      background-color: #5467F5;
      border: 1px solid #5467F5;
      outline: none;
    }
 
/* 고객센터 - 자주묻는질문_상세보기 영역 끝 */

/* /service/faq_view.jsp 끝 */

/* /mypage/paylist.jsp 시작 */

/* 마이페이지 - 결제내역 영역 시작 */

    .paylist_table {
      width: 800px; 
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(116, 116, 116, 0.5);
      color: #58595B;
    }
    .paylist_table th {	      
      font-size: 16px;
      color: #58595B; 
      border-top: 3px solid #666;   
      background-color: rgb(247, 247, 247);
    }
    .paylist_table td {
      height: 50px; 
      font-size: 15px;
      text-align: center;
	  border-bottom: 1px solid #dbdbdb;  
    }
    .paylist_mem {
      width: 155px;
    }
    
/* 마이페이지 - 결제내역 영역 끝 */

/* /mypage/paylist.jsp 끝 */

/* /mypage/oneonone.jsp 시작 */

/* 마이페이지 - 1:1문의 영역 시작 */

    .oneonone_table {
      width: 810px;
      margin: auto 0px;
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(116, 116, 116, 0.5);
      color: #58595B;
    }
    .oneonone_table th {			
      font-size: 16px;
      color: #58595B; 
      border-top: 3px solid #666;   
      background-color: rgb(247, 247, 247);      
    }
    .oneonone_table td {
      height: 50px; 
      font-size: 15px;
      text-align: center;
	  border-bottom: 1px solid #dbdbdb;
    }
    .inq_list_title {
      width: 400px;
    }

/* 마이페이지 - 1:1문의 영역 끝 */

/* /mypage/oneonone.jsp 끝 */

/* /mypage/oneononeans.jsp 시작 */

/* 마이페이지 - 1:1문의 상세보기 영역 시작 */

    /* 1:1문의 질문 */
    .oneononeans_table {
      width: 650px;
      height: 500px;
      margin: auto 0px;
      border-top: 3px solid rgba(158, 155, 155, 0.5);
    }
    .oneononeans_top {
      display: flex;
      border-bottom: 1px solid rgba(116, 116, 116, 0.5);  
    }
    .oneononeans_leftA {
      width: 25%;
      height: 40px;
      padding-top: 7px;
      font-weight: bold;
      text-align: center;
      color: #58595B;
      background-color: #fafafa;
      border-right: 1px solid rgba(116, 116, 116, 0.5);  
    }
    .oneononeans_rightA {
      padding: 7px 0 0 18px;
      color: #58595B;
    }
    .oneononeans_leftB {
      width: 23%;
      height: 40px;
      margin-left: 90px;
      padding-top: 7px;
      font-weight: bold;
      text-align: center;
      color: #58595B;
      background-color: #fafafa;
      border-right: 1px solid rgba(116, 116, 116, 0.5);  
      border-left: 1px solid rgba(116, 116, 116, 0.5); 
    }
    .oneononeans_bottom {
      height: 240px;
      border-bottom: 3px solid rgba(158, 155, 155, 0.5);
    }
    .oneononeans_content {
      width: 650px;
      height: 200px;
      margin-top: 20px;
      padding: 12px 20px;
      color: #58595B;
      outline: none;
    }
    /* 1:1문의 답변 */
    .oneononeans_noanswer {
      margin-bottom: 10px;
    }
    .oneononeans_Answer {
      width: 650px;
      margin: auto 0px;
      display: flex;
    }
    .oneononeans_re_left {
      width: 100px;
      height: 140px;
      margin: 30px 0 0 50px;
      padding-top: 57px;
      text-align: center;
      font-weight: bold;
      color: #58595B;
      background-color: #fafafa;
      border-top: 1px solid rgba(116, 116, 116, 0.5);  
      border-left: 1px solid rgba(116, 116, 116, 0.5);  
      border-bottom: 1px solid rgba(116, 116, 116, 0.5);   
    }
    .oneononeans_re_content {
      width: 450px;
      height: 140px;
      margin: 30px 0 0 0;
      padding: 12px 20px;
      color: #58595B;
      border: 1px solid rgba(116, 116, 116, 0.5);
      outline: none;
    }
    /* 버튼 */
    .oneononeans_btn {
      width: 80px;
      height: 27px;
      margin-top: 15px;
      margin-left: 45%;
      font-size: 16px;
      color: white;
      background-color: #5467F5;
      border: 1px solid #5467F5;
      outline: none;
    } 

/* 마이페이지 - 1:1문의 상세보기 영역 끝 */

/* /mypage/oneononeans.jsp 끝 */

/* /mypage/joinout.jsp 시작 */

/* 마이페이지 - 회원탈퇴 영역 시작 */

    .joinout {
	  width: 750px;
	  height: 700px;
	  margin: auto 0;
	  padding: 0 50px;
	  border: 2px solid rgba(158, 155, 155, 0.5);
    }
    .joinout h4 {
      color: #58595B;
      margin-top: 25px;
    }
    .joinout h5 {
      color: #58595B;
    }
    .joinout_content {
      margin-left: 30px;
    }
    .joinout_01 {
      width: 580px; 
      border-top: 1px solid rgba(158, 155, 155, 0.5);
    }
    .joinout_01 p {
      color: #58595B;
      margin-top: 5px;
    }
    .joinout_contentA {
      margin-left: 30px;
      margin-bottom: 8px;
    }
    .joinout_checkbox {
      color: #58595B;
      margin-left: 5px;
      margin-right: 15px;
    }
    .joinout_opinion {
      width: 580px; 
      height: 100px;
      padding: 1%;
      font-size: 14px;
      outline: none;
      color: #58595B;  
    }
    .joinout_contentB {
      display: flex;
      margin-left: 30px;
      margin-top: 15px;
    }
    .joinout_password {
      margin-left: 10px;
      width: 140px;
      height: 26px;
      outline: none;
      color: #58595B;  
    }
    /* 버튼 */
    .joinout_btnA {
      width: 100px;
      height: 30px;
      margin-left:260px;
      font-size: 16px;
      color: white;
      background-color: #5467F5;
      border: 1px solid #5467F5;
      outline: none;
    }
    .joinout_btnB {
      width: 60px;
      height: 30px;
      margin-left: 215px;
      font-size: 15px;
      color: #5467F5;
      background-color: white;
      border: 1px solid #5467F5;
      outline: none;
    }

/* 마이페이지 - 회원탈퇴 영역 끝 */

/* /mypage/joinout.jsp 끝 */